@import "tailwindcss";

button {
  /* @apply bg-blue-500 text-white font-bold py-2 px-4 rounded; */
  cursor: pointer;

}   

body {
  @apply bg-gray-100 flex items-center justify-center min-h-screen;
}